@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  .shadow-header{
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
  }
  .btn-slider-vapza-bg{
    background-color: #235140;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  .btn-slider-vapza-border{
    background-color: #fff;
    border: 1px solid #235140;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  .btn-slider-vapza-bg .btn-right, .btn-slider-vapza-border .btn-right{
    margin-right: 6px;
    margin-top: 2px;
  }
  .btn-slider-vapza-bg .btn-left, .btn-slider-vapza-border .btn-left{
    margin-left: 2px;
    margin-bottom: 2px;
  }
  .btn-acomp{
    letter-spacing: 2px;
    color: #235140;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 25px;
    border: 2px solid #235140;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    font-size: 10px;
    line-height: 16px;
    width: 200px;
    height: 35px;
    margin: 6px 0 20px 0;
    font-weight: 900;
  }
  .section-title{
    font-size: 20px;
    line-height: 24px;
    padding: 10px 15px;
    margin: 0 50px 15px;
    text-align: center;
    color: #235140;
    font-family: "Baloo Thambi 2",sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    background: #fff;
}
  .title-line::after{
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    background: #235140;
    left: 0;
    position: absolute;
    z-index: -1;
    top: 25px;
  }
  .card-reverse:nth-child(odd){
    grid-template-columns: 2fr 1fr;
  }
  .card-reverse:nth-child(odd) .desc-reverse{
    order: -1;
  }
  .btn-card-prod{
    width: 90%;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 auto 15px;
  }
  .hamburguer-menu .bar{
    display: block;
    width: 18px;
    height: 2px;
    margin: 5px 0;
    transition: all .3s ease;
    background-color: #235140;
  }
  .hamburguer-menu .bar:nth-child(2){
    width: 25px;
  }
  .hamburguer-menu{
    display: block;
  }
  .hamburguer-menu.open .bar:nth-child(2){
    opacity: 0;
  }
  .hamburguer-menu.open .bar:nth-child(1){
    transform: translateY(6px) rotate(45deg);
  }
  .hamburguer-menu.open .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}


@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-vapza::-webkit-scrollbar {
    width: 4px
  }

  .scrollbar-vapza::-webkit-scrollbar-track {
      background-color: #cccccc
  }

  .scrollbar-vapza::-webkit-scrollbar-thumb {
      background-color: #8fd400
  }
  @keyframes slide-left-frame {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right-frame {
    0% {
      transform: translateX(-100%)
    }

    to {
      transform: translateX(0)
    }
  }

  @keyframes slide-bottom-frame {
    0% {
      transform: translateY(100%)
    }

    to {
      transform: translateY(0)
    }
  }

  @keyframes slide-top-frame {
    0% {
      transform: translateY(-100%)
    }

    to {
      transform: translateY(125px)
    }
  }

  .animate-slide-left {
    animation: slide-left-frame 0.4s ease normal;
  }

  .animate-slide-right {
    animation: slide-right-frame 0.4s ease normal;
  }

  .animate-slide-bottom {
    animation: slide-bottom-frame 0.4s ease normal;
  }

  .animate-slide-top {
    animation: slide-top-frame 0.4s ease forwards;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}